
.header {
   min-height: 60px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;
  // background: white;
   padding: 0 20px;

}

.logo {

   img {
      object-fit: cover;
   }
}

.menu {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   flex: 1;

   @media(max-width: 768px) {
      display: none;
   }
}

.nav-link {
   color: var(--legit-black);
   text-decoration: none;
   font-size: 15px;
   font-weight: 600;
   text-transform: uppercase;
   flex-wrap: nowrap;
}

.right-side-menu {
   display: flex;
   align-items: center;
   gap: 15px;
}

.menu-icon {

   .icon-svg {
      font-size: 20px;
      cursor: pointer;
   }
}




